.form-container{
    margin-top:50px;
    max-width:350px;
    padding:40px 20px;
        
        mat-form-field{
            width:100%;
        }
        button{
            border-radius:30px;
            width:100%;
            margin-top:20px;
            padding-top:10px;
            padding-bottom:10px;
            text-transform: uppercase;
        }
        form{
            margin-top:20px;
        }
}

.form-title{
    display: grid;
    grid-template-columns: 10% 90%;

        mat-card-subtitle{
            background-color:#673AB7;
            color:white;
            border-radius:4px;
            font-size:18px;
            text-align:center;
            padding-top:5px;
            padding-bottom:5px;
        }
        mat-card-title{
            margin-top:5px;
            margin-left:15px;
        }
}

//Mobile Media Query
@media only screen and (max-width: 730px) {
    .form-container{
        margin:auto;
        margin-top:50px;
        max-width:500px;
    }
}
