
<mat-spinner *ngIf="isLoading"></mat-spinner>

<mat-card *ngIf="orderItems">  

    <div class="order-info">
        <mat-card-title>
            Tu Orden
        </mat-card-title>
        <mat-card-subtitle>Orden: #{{orderNumber}}<span class="material-icons"> local_mall </span></mat-card-subtitle>
    </div>

    <mat-card-content>
        <div class="products-list" *ngFor = "let item of orderItems">
            <div>
                <h3>{{item.name}}</h3>
                <p> Cantidad:{{item.quantity}}</p>
                <p *ngIf="item.sku"> SKU:{{item.sku}}</p>
            </div>
            <div class="price">
                <h3>{{item.price | currency:'MXN'}}</h3>
            </div>
        </div>
    </mat-card-content>

    <button mat-raised-button color="primary" (click)="openDialog()"> Realizar Pedido </button>

</mat-card>