/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background: linear-gradient(17.77deg, #EFF1F6 27.17%, #F0F3F7 94.8%); }
